
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
			    <li>
					<a class="brand" href="/">Proof of Science</a>
		  		</li>
				<li {% if name == "index" %}class="active"{% endif %}><a href="/">Certify</a></li>
				<li {% if name == "about" %}class="active"{% endif %}><a href="/about">About</a></li>
				<li {% if name == "developers" %}class="active"{% endif %}><a href="/developers">API</a></li>
				<li {% if name == "contact" %}class="active"{% endif %}><a href="/contact">Contact</a></li>
			</ul>
			<ul class="nav navbar-nav pull-right">
			    <li>
            		<a href="https://github.com/msjoinder/proofofscience">
              			<i class="icon-white icon-file"></i>
              			Source Code
            		</a>
          		</li>
          	</ul>
		</div>
	</div>
</div>